<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <%- include('./_blocks/head') %>
    <title><%= $article.title %> - <%= $site.siteName %></title>
  </head>
  <body>
    <div class="main">
      <nav class="navigation">
        <a href="/"><%= $site.siteName %></a>
      </nav>
      <article>
        <header>
          <h1 class="article-title"><%= $article.title %></h1>
          <div class="article-info">
            <div>
              <span
                >Created At：<time datetime="<%- $article.createdAt %>"
                  ><%= moment($article.createdAt).format($page.dateFormat) %></time
                ></span
              >
              <span
                >Updated At：<time datetime="<%- $article.updatedAt %>"
                  ><%= moment($article.updatedAt).format($page.dateFormat) %></time
                ></span
              >
            </div>
            <% if ($article.tags.length > 0) {%>
            <div>
              Keywords: <% for (const tag of $article.tags) {%>
              <span class="keyword"><%= tag %></span>
              <% } %>
            </div>
            <% } %>
          </div>
        </header>
        <div class="article-content markdown-body"><%- $article.htmlContent %></div>
      </article>
    </div>
  </body>
</html>
